body {
    background-color: #633bd1;
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 72px;
}

nav {
    display: flex;
    width: 59.66669rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #D9D9D9;
}

main {
    width: 65%;
    margin: 0  auto;
}

.column1 {
    width: 455px;
}

.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links {
    display: flex;
width: 8.27775rem;
justify-content: center;
align-items: center;
gap: 1.77775rem;
flex-shrink: 0;
}

.columncontainer {
    display: flex;
    justify-content: space-between;
}

#picture {
    width: 455px
}

.divider {
    width: 100%;
    margin: 0 auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #1E1E1E;
    color: #D9D9D9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    cursor: pointer;
}

  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

span {
    margin-right: 12px;
}
