:root {
    --black: #1E1E1E;
    --white: #d9d9d9;
  }

@font-face {
    src: url(/__assets/BricolageGrotesque-SemiBold-600.woff2) format("woff2");
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#dash{
    background-color: #50349e;
    border-radius: 5px;
    padding: 8px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 500px;
}

body {
    background-color: #633bd1;
}

nav {
    display: flex;
    width: 59.66669rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

#Star_1 {
    aspect-ratio: 44.84;
    --f2w-order: 6;
    width: 1121px;
    height: 25px;
    position: absolute;
    top: 700.8px;
    left: calc(50% - 560px);
}

textarea:focus-visible {
    outline: none;
}

button {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    font: inherit;
    background: 0 0;
    background-color: inherit;
    color: inherit;
    border: none;
    width: auto;
    line-height: normal;
    overflow: visible;
}

a {
    text-decoration: none;
    color: #D9D9D9;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
}

input {
    font: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

textarea,
select {
    font: inherit;
    background-color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

[data-reaction-click] {
    cursor: pointer;
}

[data-visible=false] {
    display: none !important;
}

.before-hidden:before,
.after-hidden:after {
    display: none;
}

.before-visible:before,
.after-visible:after {
    content: "";
}

::placeholder {
    color: inherit;
    opacity: 0.54;
}

body * {
    scrollbar-width: none;
}

body ::-webkit-scrollbar {
    display: none;
}

[name=honey-pot-field] {
    display: none !important;
}

.pointer-events-none {
    pointer-events: none;
}

#_ {
    background-color: #633bd1;
    min-height: 100vh;
    display: grid;
    font-family: "Inter", sans-serif;
    color: var(--white);
}

#container {
    background-color: #633bd1;
    width: 1280px;
    min-width: 1280px;
    max-width: 1280px;
    min-height: 832px;
    max-height: 832px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#Rectangle_2 {
    --f2w-order: 0;
    background-color: #633bd1;
    width: 1280px;
    height: 93.3px;
    position: absolute;
    top: 0;
    left: 0;
}

#Vector{
    --f2w-order: 1;
    width: 85px;
    height: 59px;
    position: absolute;
    top: calc(50% - 398.5px);
    left: calc(50% - 496.6px);
}

#Mask_group {
    transform-origin: 0 0;
    opacity: 0.75;
    --f2w-order: 2;
    width: 1280px;
    height: 343.1px;
    position: absolute;
    top: 642.7px;
    left: 0;
    transform: rotate(-180deg) scaleX(-1);
}

a {
    color: #d9d9d9;
}

#Ellipse_1 {
    aspect-ratio: 1.51;
    mask-type: alpha;
    --f2w-order: 0;
    background-image: radial-gradient(var(--white) 0%, #4d4d4d 40%, #1e1e1e80 94%, #1e1e1e00 100%);
    border-radius: 50%;
    width: 2056.2px;
    height: 1359.1px;
    position: absolute;
    top: calc(603px + 50%);
    left: calc(50% - 1028.1px);
    -webkit-mask-image: url(data:image/svg+xml;base64,...); /* truncated for readability */
    mask-image: url(data:image/svg+xml;base64,...); /* truncated for readability */
    -webkit-mask-position: 388.1px -774.6px;
    mask-position: 388.1px -774.6px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

#_3_8 {
    text-align: center;
    width: 657.8px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 64px;
    display: inline;
    position: absolute;
    top: 80px;
    left: calc(50% - 328.9px);
}

#__0 {
    overflow-wrap: break-word;
    color: #d9d9d9;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 66.2px;
    font-weight: 600;
    line-height: 64px;
}

#_3_9 {
    text-align: center;
    overflow-wrap: break-word;
    color: var(--white);
    --f2w-order: 4;
    -webkit-background-clip: text;
    background-clip: text;
    width: 423.1px;
    font-family: Inter;
    font-size: 17.8px;
    font-weight: 500;
    display: inline;
    position: absolute;
    top: 359.1px;
    left: calc(50% - 211.6px);
}

#__1 {
    overflow-wrap: break-word;
    color: var(--white);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 17.8px;
    font-weight: 500;
}

#logo {
    aspect-ratio: 43.35;
    --f2w-order: 5;
    width: 997px;
    height: 23px;
    position: absolute;
    top: 655.5px;
    left: calc(50% - 499.1px);
}

#Frame_3 {
    grid-column-gap: 43.6px;
    --f2w-order: 6;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 730.7px;
    left: calc(50% - 242.1px);
}

#Frame_2 {
    grid-column-gap: 7.1px;
    --f2w-order: 0;
    border: 0.9px solid var(--white);
    border-radius: 10px;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15.1px 31.1px;
    display: flex;
    position: relative;
    overflow: hidden;
}

#_3_13 {
    text-align: center;
    overflow-wrap: break-word;
    color: var(--white);
    --f2w-order: 0;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 0;
    width: max-content;
    margin: 0;
    font-family: Inter;
    font-size: 21.3px;
    font-weight: 500;
    display: inline;
    position: relative;
}

#__2 {
    overflow-wrap: break-word;
    color: var(--white);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 21.3px;
    font-weight: 500;
}

#Frame_1 {
    grid-column-gap: 7.1px;
    filter: drop-shadow(0 3.6px 5.3px #00000040);
    backface-visibility: hidden;
    --f2w-order: 1;
    background-image: linear-gradient(#40229180, #40229180), radial-gradient(#402291 0%, #130a2b 100%);
    border: 0.4px solid #633bd1;
    border-radius: 10px;
    flex-flow: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15.6px 31.6px;
    display: flex;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

#_3_15 {
    text-align: center;
    overflow-wrap: break-word;
    color: var(--white);
    --f2w-order: 0;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 0;
    width: max-content;
    margin: 0;
    font-family: Inter;
    font-size: 21.3px;
    font-weight: 500;
    display: inline;
    position: relative;
}

#__3 {
    overflow-wrap: break-word;
    color: var(--white);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 21.3px;
    font-weight: 500;
}

#Frame_4{
    grid-column-gap: 28.4px;
    --f2w-order: 7;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 132.4px;
    padding: 0;
    display: flex;
    position: absolute;
    top: 35.6px;
    left: 964.4px;
}

#_3_17 {
    text-align: center;
    overflow-wrap: break-word;
    color: var(--white);
    --f2w-order: 0;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 0;
    width: max-content;
    margin: 0;
    font-family: Inter;
    font-size: 17.8px;
    font-weight: 500;
    display: inline;
    position: relative;
}

#__4 {
    overflow-wrap: break-word;
    color: var(--white);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Inter;
    font-size: 17.8px;
    font-weight: 500;
}

#_3_18 {
    text-align: center;
    overflow-wrap: break-word;
    color: var(--white);
    --f2w-order: 1;
    -webkit-background-clip: text;
    background-clip: text;
    flex-shrink: 0;
    width: max-content;
    margin: 0;
    font-family: Inter;
    font-size: 17.8px;
    font-weight: 500;
}
